.portfolio{
position: relative;
    .progres{
        position: sticky;
        top: 0;
        l
        h1{
            font-size: 96px;
            font-weight: 100;
        }
        .progressBar{
            
        }
    }
}